// buttons.scss

.md-button {
  @include padding(2px 10px);
  font-family: $font-primary;
  color: $color-gray-light;
  border: 2px solid $color-gray-light;
  border-radius: 5px;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-gray-light !important;
  }

  > *:not(:last-child) {
    margin-right: 5px;
  }
}

.md-button.md-primary-button {
  color: $color-primary-dark;
  border-color: $color-primary-dark;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-primary-dark !important;
  }
}

.md-button.md-cta-button {
  color: #fff;
  background-color: $color-accent;
  border-color: $color-accent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-accent-light !important;
    border-color: $color-accent-light;
  }
}

.md-button.md-simple-button {
  border-color: transparent;
  box-shadow: $box-shadow;

  &:hover, &:focus {
    color: $color-primary-dark;
    background-color: transparent !important;
    border-color: transparent;
  }
}

.md-button.md-icon-button {
}

.md-button.md-stripped-button {
}

.md-button.sharp-corners {
  @include sharp-corners();
}