// buttons.scss

.md-button {
  @include padding(2px 10px);
  font-family: $font-primary;
  color: $color-gray-light;
  border: 2px solid $color-gray-light;
  border-radius: 5px;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-gray-light !important;
  }

  > * {
    @include margin(null 3px);
  }
}

.md-button.md-primary-button {
  color: $color-primary-dark;
  border-color: $color-primary-dark;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-primary-dark !important;
  }
}

.md-button.md-cta-button {
  color: #fff;
  background-color: $color-accent;
  border-color: $color-accent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-accent-light !important;
    border-color: $color-accent-light;
  }
}

.md-button.md-simple-button {
  border-color: transparent;
  box-shadow: $box-shadow;

  &:hover, &:focus {
    color: $color-primary-dark;
    background-color: transparent !important;
    border-color: transparent;
  }
}

.md-button.md-icon-button {
  border-color: transparent;

  &:hover, &:focus, &:active, &:visited {
    color: inherit;
    background-color: transparent !important;
  }

  .md-icon {
  }

  .md-ripple-container {
    margin: 0;
  }
}

.md-button.md-stripped-button {
  min-width: 0;
  min-height: 0;
  @include margin(0);
  @include padding(0);
  background-color: transparent;
  border: none;
  border-radius: 0;

  .md-ripple-container {
    border-radius: 0;
  }

  &:hover, &:focus {
    color: inherit;
    background-color: transparent !important;
  }
}

.md-button.sharp-corners {
  @include sharp-corners();
}