// mixins.scss

// general image cover
@mixin image-cover($attachment) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: $attachment;
}

// sharp md-button corners
@mixin sharp-corners() {
  border-radius: 0;

  .md-ripple-container {
    border-radius: 0;
  }
}

// truncate one line
@mixin truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

// truncate paragraph
@mixin truncate-paragraph($font-size, $line-height, $lines) {
  display: block;
  display: -webkit-box;
  height: ($font-size*$line-height*$lines)-3px;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// box shadows with hover
@mixin box-shadow-hover() {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
}
@mixin box-shadow-hover-6() {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
}
@mixin box-shadow-hover-12() {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &:hover { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }
}
