// variables.scss

// color modifications
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-accent-light: lighten($color-accent, 10%);
$color-accent-dark: darken($color-accent, 10%);
$color-gray-light: lighten($color-gray, 10%);
$color-gray-dark: darken($color-gray, 10%);

// message color
$color-info: #aaaaaa;
$color-success: #aaaaaa;
$color-warning: #aaaaaa;
$color-danger: #aaaaaa;

// box shadows
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-6: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-12: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-18: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-24: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// overall layout
// $header-height:;
// $header-height-shrink:;
// $header-padding:;
// $header-padding-shrink:;
// $sidenav-width:;
// $sidenav-width-collapse:;
// $sidenav-padding:;
// $sidenav-padding-collapse:;
