<md-image class="feature">
  <div class="content" layout="row" layout-align="center center">
    <div flex="50" hide-xs hide-sm layout="column" layout-align="center center">
      <img src="/assets/img/core/logo/small/dark.svg">
    </div>
    <div flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
      <header>
        <h3>The best coverage at the right price.</h3>
        <h1>Get insured today.</h1>
      </header>
      <div class="feature-buttons" layout="column" layout-gt-xs="row">
        <md-button layout="row" ng-click="null" aria-label="See our services">
          <div class="text">Get insured now</div>
          <ng-md-icon class="md-icon" icon="keyboard_arrow_right" size="20"></ng-md-icon>
        </md-button>
        <md-button layout="row" ng-click="null" aria-label="Get a quote">
          <div class="text">Retrieve a quote</div>
          <ng-md-icon class="md-icon" icon="receipt" size="20"></ng-md-icon>
        </md-button>
      </div>
    </div>
  </div>
</md-image>
