// style-guide.scss

#style-guide-header {
  width: 100%;
  @include padding(30px 10px);
  box-sizing: border-box;
  color: #fff;
  background-color: $color-primary;

  p {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
  }
}

#style-guide {
  width: 100%;
  box-sizing: border-box;
  @include padding(15px);

  > section {
    width: 100%;
    max-width: 400px;
    @include margin(null auto);
    box-shadow: $box-shadow;
    background-color: #fff;

    > header {
      width: 100%;
      box-sizing: border-box;
      @include padding(15px);
      color: #fff;
      background-color: $color-primary;

      p {
        font-style: italic;
        text-transform: uppercase;
      }
    }

    > .content {
      @include padding(15px);

      > *:not(:last-child) {
        margin-bottom: 15px;
      }

      .md-button {
        width: 100%;
        @include margin(0 0 null);
      }
    }

    .logos img {
      max-width: 75%;
      @include margin(10px null);
    }
  }

  > section:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
  }
}