<!-- basic info -->
<title>{{siteTitle}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- search-critical info -->
<meta name="description" content="{{siteDescription}}">
<meta name="keywords" content="{{siteKeywords}}">
<link rel="author" href="https://plus.google.com/{{googlePlusId}}"/>
<link rel="canonical" href="{{siteUrl}}"/>
<!-- Facebook share -->
<meta property="og:url" content="{{siteUrl}}">
<meta property="og:image" content="{{siteImageUrl}}">
<meta property="og:description" content="{{siteDescription}}">
<meta property="og:title" content="{{siteTitle}}">
<meta property="og:site_name" content="{{siteTitle}}">
<meta property="og:see_also" content="{{welcomePageUrl}}">
<!-- Google share -->
<meta itemprop="name" content="{{siteTitle}}">
<meta itemprop="description" content="{{siteDescription}}">
<meta itemprop="image" content="{{siteImageUrl}}">
<!-- Twitter share -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{siteUrl}}">
<meta name="twitter:title" content="{{siteTitle}}">
<meta name="twitter:description" content="{{siteDescription}}">
<meta name="twitter:image" content="{{siteImageUrl}}">
