<div id="welcome">
  <header id="style-guide-header">
    <p>SIA Style Guide</p>
  </header>
  <div id="style-guide">
    <section>
      <header>
        <p>Headings</p>
      </header>
      <div class="content">
        <h1>Safer Insurance</h1>
        <h2>Safer Insurance</h2>
        <h3>Safer Insurance</h3>
        <h4>Safer Insurance</h4>
        <h5>Safer Insurance</h5>
        <h6>Safer Insurance</h6>
      </div>
    </section>
    <section>
      <header>
        <p>Paragraph</p>
      </header>
      <div class="content">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident asperiores repellat.</p>
      </div>
    </section>
    <section>
      <header>
        <p>Blockquote</p>
      </header>
      <div class="content">
        <blockquote>
          <p>Some great testimony we're going to put on here. Safer Insurance is excellent and you should come back.</p>
          <div class="quote-divider"></div>
          <div class="credit">Jennifer Lawrence</div>
        </blockquote>
      </div>
    </section>
    <section>
      <header>
        <p>Buttons</p>
      </header>
      <div class="content">
        <md-button ng-click="null" layout="row" layout-align="center center" aria-label="Get insured now">
          <div class="text">Contact us here</div>
          <div flex></div>
          <ng-md-icon class="icon" icon="arrow_forward"></ng-md-icon>
        </md-button>
        <md-button class="md-primary-button" ng-click="null" layout="row" layout-align="center center" aria-label="Get insured now">
          <div class="text">Register Now</div>
          <div flex></div>
          <ng-md-icon class="icon" icon="note_add"></ng-md-icon>
        </md-button>
        <md-button class="md-cta-button" ng-click="null" layout="row" layout-align="center center" aria-label="Get insured now">
          <div class="text">Get Insured Now</div>
          <div flex></div>
          <ng-md-icon class="icon" icon="arrow_forward"></ng-md-icon>
        </md-button>
        <md-button class="md-simple-button" ng-click="null" layout="row" layout-align="center center" aria-label="Get insured now">
          <div class="text">More information</div>
          <div flex></div>
          <ng-md-icon class="icon" icon="info_outline"></ng-md-icon>
        </md-button>
      </div>
    </section>
  </div>
</div>
